*{
    margin:0;
    padding:0;
}
.main{
    font-family: chiller;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, blue, red);
    /*background-color: powderblue;*/
}
.nav-links{
    flex:1;
    text-align: center;
}
.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 20px;
}
.nav-links p{
    font-size:50;
    color: white;
    text-decoration: none;
}
/*  GAY LINK   */
.gay-links ul li a{
    color: black;
    font-size: 30px;
}
.gay-links ul li{
    background-color: orange   ;
    position: sticky;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline-block;
    margin-top: 30%;
    margin-left: 45%;
}
/*  TEXTS   */
.texts{
    margin-top: -30%;
}
.texts nav p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:30;
    color: white;
    text-decoration: none;
    text-align: center;
}